/build/vs2019
/FitdLib/shaders/generated
build/vs2022
data
build
.cache/clangd/index
shaderLib/generated
CMakeFiles
Fitd/Makefile
Fitd/cmake_install.cmake
FitdLib/Makefile
FitdLib/cmake_install.cmake
_deps
build
deps/imgui/Makefile
deps/imgui/cmake_install.cmake
deps/imgui/libimgui.a
shaderLib/Makefile
shaderLib/cmake_install.cmake
shaderLib/cmake_install.cmake
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json
lib
bin
